:root {
  --primary-color: #1e2734;
  --secondary-color: #b99776;
  --opacity-preference: 70%;
  --time-font-size: 56px;
  --date-font-size: 18px;
  --bookmark-header-font-size: 16px;
  --bookmark-font-size: 14px;
  --searchbar-size: 35px;
  --searchbar-border-radius: 25px;
}

body {
  color: var(--secondary-color);
  background-image: url('golden-gate.jpg');
  background-size: 120%;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: var(--time-font-size);
  font-weight: bold;
  padding-bottom: 2%;
  margin: 0;
}

h2 {
  font-size: var(--date-font-size);
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: var(--bookmark-header-font-size);
  font-weight: bold;
  text-align: right;
  margin: 0;
}

#main-container {
  position: absolute;
  left: 54%;
  top: 8.5%;
  width: 40%;
  right: 0;
}

#datetime {
  opacity: var(--opacity-preference);
  width: 55%;
  padding: 2.5% 2.5%;
  margin: auto;
}

#bookmarks {
  opacity: var(--opacity-preference);
  text-shadow: 2px 2px 10px var(--primary-color);
  padding-top: 2%;
}

.header-element {
  width: 15%;
}

tr td {
  padding-bottom: 1.5%;
}

tr td a {
  color: var(--secondary-color);
  font-size: var(--bookmark-font-size);
  padding: 0% 25%;
  font-style: italic;
  text-decoration: none;
  text-transform: lowercase;
}

input[type=search] {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: var(--opacity-preference);
  height: var(--searchbar-size);
  font-size: var(--bookmark-header-font-size);
  border-radius: var(--searchbar-border-radius);
  width: 100%;
  text-align: center;
  border: none;
}
